section{
    height: 100%;
    /* border: 2px solid black; */
   
    /* background-color: rgba(181, 167, 226, 0.758); */
    text-align: center;
    /* box-sizing: border-box; */
    display: grid;
    grid-template-rows: 13% 80% 7%;
    grid-template-columns: repeat(12, 1fr);

}

header{
    grid-column: span 12;
    /* border: 2px solid black; */
}

aside{
    grid-column: 1;
    /* border: 3px solid black; */
}

main{
    /* background-color: white; */
    grid-column: span 11;
    /* border: 2px solid black; */
}

footer{
    grid-column: span 12;
    /* border: 2px solid black; */
}